<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".solution"
            android:exported="false"
            android:label="솔루션"/>
        <activity
            android:name=".customizing_page"
            android:exported="false"
            android:label="커스터마이징"/>
        <activity
            android:name=".first_page"
            android:exported="false"
            android:label="메인화면" />
        <activity
            android:name=".intro_Test"
            android:exported="true"
            android:label="인트로 화면">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="시작화면" />
    </application>

</manifest>